html, body, #all, #map {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#left {
	height: 100%;
	width: 50%;
	margin: 0;
	padding: 0;
	float: left;
}

#right {
	height: 100%;
	width: 50%;
	margin: 0;
	padding: 0;
	float: right;
}

#floating-panel {
	position: absolute;
	top: 70px;
	left: 10px;
	width: 180px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
}

/*configuração para os inputs do painel de pesquisa*/
.custom {
	width:170px !important;
	float: center;
	margin: 0px auto;
}

/*configuração para os inputs do painel de pesquisa*/
.row-custom {
	padding: 0px;
	margin: 0px;
}

/*configuração para as tooltips do painel de pesquisa*/
.tooltip-inner {
    min-width: 200px;
}


/*configuração para o gif de loading*/
.modal{
	position: fixed;
	z-index: 999;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: Black;
	filter: alpha(opacity=60);
	opacity: 0.6;
	-moz-opacity: 0.8;
	display: none;
}

/*configuração para o gif de loading*/
.center{
	z-index: 1000;
	margin: 300px auto;
	padding: 10px;
	height: 140px;
	width: 140px;
	background-color: White;
	border-radius: 10px;
	filter: alpha(opacity=100);
	opacity: 1;
	-moz-opacity: 1;
}

/*configuração para o gif de loading*/
.center img{
	height: 120px;
	width: 1280x;
}

/*corrigindo alinhamento dos add-ons dos inputs*/
.input-group-addon{
	font-size: 16px!important;
}

.leaflet-heatmap-layer{
	z-index:-1 !important;
}
